.img1{
    width: 570px;
position: absolute;
    top: 200px;
    left: 0px;
    overflow: auto;
}


.text1 {
    font-size: 27px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkred;
    position: absolute;
    top: 120px;
    left: 550px;
    overflow: auto;
}


.text2 {
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkred;
    position: absolute;
    top: 10px;
    left: 700px;
    overflow-x: auto;
}

.img2{
    width: 670px;
position: absolute;
    top: 200px;
    left: 570px;
    overflow: auto;
}


.img3{    
width: 500px;
height: 370px;
position: absolute;
    top: 200px;
    left: 1240px;
    overflow: auto;
}

.text3 {
    font-size: 17px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: rgb(57, 0, 0);
    position: absolute;
    top: 620px;
    left: 500px;
    right: 500px;
overflow-x: auto;
}

#navbar {
  background-color: rgb(94, 7, 7);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.2);
}

#navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgb(22, 13, 97);
  color: rgb(255, 196, 0);
  opacity: 0.6;
  transition: 0.3s;
}









img {
  max-width: 100%;
  height: auto;
}