.img1{
    width: 570px;
position: absolute;
    top: 200px;
    left: 0px;
    overflow: auto;
}


.text1 {
    font-size: 27px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkred;
    position: absolute;
    top: 120px;
    left: 550px;
    overflow: auto;
}


.text2 {
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkred;
    position: absolute;
    top: 10px;
    left: 700px;
    overflow-x: auto;
}

.img2{
    width: 670px;
position: absolute;
    top: 200px;
    left: 570px;
    overflow: auto;
}


.img3{    
width: 500px;
height: 370px;
position: absolute;
    top: 200px;
    left: 1240px;
    overflow: auto;
}

.text3 {
    font-size: 17px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: rgb(57, 0, 0);
    position: absolute;
    top: 620px;
  align-items: center;
overflow-x: auto;
}






img {
  max-width: 100%;
  height: auto;
}